*{
    margin: 0;
    padding: 0;
}

/*Grilla que define la estructura de la pagina*/

#grilla_body{
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows: 400px 200px 2000px 300px;
    grid-template-areas: "header"
                         "nav"
                         "main"
                         "footer";
}

main{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover ;
}



section{
    background-color: beige;;
    height: 25%;
    width: 90%;
    opacity: 0.7;
}

.grid_section_home{
    display:grid;
    grid-template-columns: 55% 35%;
    grid-template-rows: 30% 60%;

    grid-template-areas: "img titulo"
                         "img parrafo";

    justify-content: space-around;
    align-content: space-evenly;
    justify-items: center;
    align-items: center;

}

.img_section{
    grid-area:img;
}


.titulo_section{
    font-size:30px;
}

.parrafo_section{
    font-size:20px;
    text-align: center;
    align-self: start;
}

.grid_section_acerca{
    display:grid;
    grid-template-columns: 55% 35%;
    grid-template-rows: 700px;

    grid-template-areas: "img list";

    justify-content: space-around;
    align-content: space-evenly;
    justify-items: center;
    align-items: center;
    height: 1200px;
}

.parrafo_acerca{
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    
}

.imagen_acerca{
    border-radius: 40px;
    object-fit: cover ;
    height: 100%;
    width: 100%;
    grid-area: img;
    
}

.lista_acerca{
    font-size: 20px;
    
}

nav{
    background-color: gainsboro;
    position: sticky;
    top: 0px;
    z-index: 50;
}


footer{
    background-color: black;
 
}


footer p{
    color:white;    
    text-align: center;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: beige;
}

.Menu{
    display:flex;  
    background-color: black;
    list-style-type: none;
}

a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#grilla_contacto{
    display:grid;
}

#grilla_evaluaciones{
    display:grid;
}

#grilla_contacto{
    display:grid;
}

/*XS & S*/

@media only screen and ( max-width:600px){

    
    header{
        height: 300px;
    }
    
   
    ul{
        height: 200px;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    li{
        font-size:20px;
    }



    #grilla_terapias{
        
        grid-template-columns: 100%;
        grid-template-rows: 300px 300px 300px 300px 300px 300px;
        grid-template-areas: "t1"
                             "t2"
                             "t3"
                             "t4"
                             "t5"
                             "t6";

        justify-content: space-evenly;
        align-content: space-around;
    }

    .titulo_section{
        font-size:20px;
        text-align: left;
        align-self: center;
    }
    
    .parrafo_section{
        font-size:20px;
        text-align: center;
        align-self: center;
    }

    footer p{
        color:white;
        font-size:16px;
        text-align: center;
    }

    
  
}

/*Pantalla Mediana MD*/

@media only screen and (min-width:600px){

    

    ul{
        flex-direction: row;
        height: 100px;
        justify-content: space-evenly;
        align-items: center;
    }

    li{
        font-size:22px;
    }

    #grilla_terapias{

        
        grid-template-columns: 45% 45%;
        grid-template-rows: 500px 500px 500px;
        grid-template-areas: "t1 t2"
                             "t3 t4"
                             "t5 t6";


        justify-content: space-evenly;
        align-content: space-around;
        
    }

    footer{
        height: 150px;
    }
}

/*Pantalla Grande*/

@media only screen and (min-width:992px){


    #grilla_terapias{
        height: 2500px;
        grid-template-columns: 30% 30% 30%;
        grid-template-rows: 600px 600px 600px;
        grid-template-areas: "t1 . t2"
                             "t3 . t4"
                             "t5 . t6";
    }


    #img_uno{
        grid-area:t1;
    }

    #img_dos{
        grid-area:t5;
    }

    #img_tres{
        grid-area:t6;
    }
}


h1{
    text-align: center;
    color: white;
    font-family: 'Architects Daughter', cursive;
    font-size: 80px;
}

.home_titulo{
    text-align: center;
    font-size: 40px;
    font-family: 'Architects Daughter', cursive;
    padding: 10px;
}

.parrafo_home{
    font-size:18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    align-self: start;
    
}

/*
.imagen_home{
    height: 70%;
    width: auto;
    border-radius: 35px;
    margin-left: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    border: 1px solid black;
    padding: 10px;
}*/

.logo{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}



.boton{
    text-align: center;
    margin-left: 700px;
    margin-top: 30px;
    height: 50px;
    width: 200px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    background-color: grey;
    color: white;
}

#Experiencia{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: rgb(73, 60, 78);
    width: 100%;
    text-align: left;
    list-style: disc;
    margin-left: 40px;
    margin-bottom: 4px;
    margin-top: 20px;
}

#Sedes{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: rgb(73, 60, 78);
    width: 100%;
    text-align: left;
    list-style: disc;
    margin-left: 40px;
    margin-bottom: 4px;
    margin-top: 20px;
}

.parrafo{
    color: rgb(175, 86, 213);
    font-style: italic;
    font-weight: 20;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    text-decoration: solid;
}

.terapias_evaluaciones{
    color: rgb(73, 60, 78);
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    text-decoration: solid;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
}

.titulo_terapias{
    text-align: center;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
}

.imagen_terapias{
    border-radius: 50px;
    width: 100%;
    height: 100%;
    object-fit: cover ;
}


.parrafo_contacto{
    color: rgb(73, 60, 78);
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
}

.formulario{
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    
    background-color: rgb(65, 174, 119);
    
    width: 450px;
    height: 90%;
    margin: auto;
    padding: 10px 20px;
    border-radius: 7px;
    box-sizing: border-box;
}

#titulo_formulario{
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    color: rgb(73, 60, 78);
}

#campo_formulario{
    font-size: 20px;
    margin-left: 20px;
    font-family: 'Roboto', sans-serif;
    color: rgb(73, 60, 78);
}

.mapa{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 200px;
    height: 1000px;
    width: 1000px;

}










